@model IEnumerable<WeddingHallReservations.Models.ReserviationHistory>;
@{
	Layout="_Layout";
    ViewData["Title"] = ViewBag.button;
}
   <img src="~/Assets/Photos/bg-1.jpg" class="hero-wrap js-fullheight" />

    
    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
        
          <div class="col-lg-12">
          	<div class="row">
				 @foreach (var item in Model)
				 {
					  <div class="col-lg-6 col-md-12 col-sm-12 ftco-animate">
    				<div class="destination">
                        
    					<img class="card-img-top border" height="220" src="~/Uploads/@item.Service.ProfileImage" alt="image" width="255"/>
    					<div class="text p-3">
    						<p><a asp-controller="Main" asp-action="Details"
                                asp-route-serviceId="item.Service.ServiceId">
                                <i class="fa fa-heart"></i>
                                @item.Service.ServiceProvided</a></p>

    						<p>
          
                                <i class="fa fa-money"></i>
                                  Total Price : @item.Reservaition.TotalPrice $
                            </p>

                            <p>
                                Phone 
                                <i class="fa fa-phone"></i>
                               : @item.Service.PhoneNumber
                            </p>
                            <p>
                                Location 
                                <i class="fa fa-location-arrow"></i>
                               :  @item.Service.Address
                            </p>
                             <p>
                                 Date
                               <i class="fa fa-calendar"></i>
                                @item.Reservaition.ReservaitionDateFrom - @item.Reservaition.ReservaitionDateTo
                            </p>
    						<hr>
    						@*<p class="bottom-area d-flex">
    							
    							<span class="btn badge-success" style="width:100%;">
                                    
                                    <a asp-controller="Main" asp-action="Details"
                                asp-route-serviceId="item.Service.ServiceId">
                                    View
                                    <i class="fa fa-eye"></i>    
                                    </a>
                                    
                                </span>
    						</p>*@
    					</div>
    				</div>
    			</div>
				 }
          		

          	</div>
          	@*<div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		              <ul>
		                <li><a href="#">&lt;</a></li>
		                <li class="active"><span>1</span></li>
		                <li><a href="#">2</a></li>
		                <li><a href="#">3</a></li>
		                <li><a href="#">4</a></li>
		                <li><a href="#">5</a></li>
		                <li><a href="#">&gt;</a></li>
		              </ul>
		            </div>
		          </div>
		        </div>*@
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->